/*
font-family: 'Manrope', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
*/
:root {
  --default-font-family: "Poppins", sans-serif;
  --header-font-family: "Playfair Display", serif;
  --secondary-color: #c71e42;
  --basic-color: #f6ebe6;
}
body {
  font-family: var(--default-font-family);
}
h1,
h2,
h3,
h4 {
  font-family: var(--header-font-family);
  font-weight: bold;
  color: black;
}
h1 {
  font-size: 96px;
}
h2 {
  font-size: 64px;
}
h3 {
  font-size: 48px;
}
p {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
}
img {
  border-radius: 4px;
  border: 1px solid #f6ebe6;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.4);
}
.start {
  text-align: center;
  background: var(--basic-color);
  padding: 80px 20px;
}
.start h2 {
  font-weight: normal;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.5;
}
.btn-grade {
  padding: 10px 15px;
  border: 1px solid #c71e42;
  border-radius: 6px;
  background: #c71e42;
  color: white;
  line-height: 27px;
  font-size: 18px;
}
.btn-learn {
  padding: 10px 12px;
  border: 1px solid var(--secondary-color);
  border-radius: 6px;
  background: var(--secondary-color);
  color: white;
  line-height: 27px;
  font-size: 18px;
}
.wrap {
  padding: 120px 60px;
}
.content-container {
  padding: 60px 20px;
  background: var(--basic-color);
}
.content-container h1 {
  font-size: 64px;
  line-height: 80px;
}
.content-container h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}
.content {
  margin: 0;
  text-align: center;
}
.content h3 {
  font-family: var(--default-font-family);
  line-height: 1.5;
  font-size: 24px;
  margin-top: 5px;
}
.content p {
  font-size: 14px;
}
#about {
  background: var(--basic-color);
}
#enclosed {
  margin-top: 80px;
}
#in-touch {
  background: #c71e42;
}
#in-touch h1 {
  margin: 10px;
  padding: 30px;
  color: white;
}
.contact-body {
  background: #f6ebe6;
}

nav {
  padding-right: 40px;
  padding-left: 20px;
  background: white;
}
nav li {
  display: inline;
  text-decoration: none;
  line-height: 42px;
  margin-left: 15px;
}
nav ul {
  padding-top: 15px;
  margin: 0, 10px;
}
nav a {
  text-decoration: none;
  color: black;
  transition: all 100ms ease-in-out;
  font-family: var(--default-font-family);
  font-weight: bold;
}
nav a:hover,
nav li.active a {
  color: var(--secondary-color);
}

.name-logo {
  font-family: "lobster", cursive;
  font-weight: normal;
  font-size: 48px;
  padding: 0;
  margin: 0;
}

footer .email {
  text-decoration: none;
  color: black;
  font-size: 24px;
  margin-top: 30px;
}
footer .box {
  background: #fff8f8;
  padding: 30px 120px;
  border-radius: 10px;
}
footer .box p {
  margin: 0;
  font-weight: bold;
}
footer .email:hover {
  color: #c71e42;
}
footer {
  margin: 60px 0;
}

footer .social-media a {
  color: black;
  font-size: 22px;
  margin: 0 20px;
  background: #fff8f8;
  padding: 10px 15px;
  border-radius: 50%;
  transition: all 150ms ease-in-out;
}
footer .social-media a:hover {
  color: white;
  background: #c71e42;
}
footer .btn {
  padding: 10px 15px;
  border: 1px solid #c71e42;
  border-radius: 6px;
  background: #c71e42;
  color: white;
  line-height: 27px;
  font-size: 18px;
}

.contact-box {
  background: #c71e42;
  color: white;
  border: 1px solid #c71e42;
}
@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 1.2;
  }
  h2 {
    font-size: 44px;
  }
  h3 {
    font-size: 18px;
  }

  .wrap {
    text-align: center;
    padding: 0;
  }
  .start {
    padding: 80px 20px;
  }
  .content-container {
    text-align: center;
    padding: 0;
  }
}
