/*
font-family: 'Manrope', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
*/
:root {
  --default-font-family: "Poppins", sans-serif;
  --header-font-family: "Playfair Display", serif;
  --secondary-color: #c71e42;
  --basic-color: #f6ebe6;
}
body {
  font-family: var(--default-font-family);
}
h1,
h2,
h3 {
  font-family: var(--header-font-family);
  font-weight: bold;
  color: black;
}
h1 {
  font-size: 96px;
}
h2 {
  font-size: 64px;
}
p {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
}
img {
  border-radius: 4px;
  border: 1px solid #f6ebe6;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.4);
}
.start {
  text-align: center;
  background: var(--basic-color);
  padding: 160px 80px;
}
.start h2 {
  font-weight: normal;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.5;
}
.btn-grade {
  padding: 10px 15px;
  border: 1px solid #c71e42;
  border-radius: 6px;
  background: #c71e42;
  color: white;
  line-height: 27px;
  font-size: 18px;
}
.btn-learn {
  padding: 10px 12px;
  border: 1px solid var(--secondary-color);
  border-radius: 6px;
  background: var(--secondary-color);
  color: white;
  line-height: 27px;
  font-size: 18px;
}
.wrap {
  padding: 120px 60px;
}
@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 1.2;
  }
  h2 {
    font-size: 44px;
  }
  .wrap {
    text-align: center;
    padding: 0;
  }
  .start {
    padding: 80px 20px;
  }
}
